In [1]:
import pandas as pd
import numpy as np
import ast
import re

In [11]:
df = pd.read_csv('Clean_Dataset.csv', encoding='UTF-8')

In [12]:
with open('cleaning_source/list_kota.txt','r') as file:
    data =file.read()
    
city_list = list(ast.literal_eval(data))

In [13]:
def clean_location_city(location):
    location = str(location).lower()
    
    for city in city_list:
        city = city.lower()
        if city in location:
            return city.title()
        elif 'indonesia' in location:
            return location.title()

In [14]:
df['New_Location'] = df['Location'].apply(lambda x: clean_location_city(x))

In [15]:
df['New_Location'].head()

0                        Jakarta
1          Yogyakarta, Indonesia
2                           None
3    Kalimantan Barat, Indonesia
4                     Indonesia
Name: New_Location, dtype: object

In [16]:
df.to_csv('Clean_Dataset.csv', index='False')